apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-app-deployment
  labels:
    app: hello-app
spec:
  replicas: 2
  selector: 
    matchLabels:
      app: hello-app
  template:
    metadata:
      name: hello-app
      labels:
        app: hello-app
    spec:
      containers:
      - name: hello-app
        image: harikak09/hello-app:v2
        ports:
        - containerPort: 80

