name: Docker CI/CD

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
        
      - name: Build the docker image
        run: docker image build -t harikak09/hello-app:latest ./hello-app
      
      - name: Tag the docker image
        run: docker image tag harikak09/hello-app:latest harikak09/hello-app:latest

      - name: Push the docker image
        run: docker push harikak09/hello-app:latest

